<html>
  <head>
    <meta charset="utf-8">
    <title>Héloïse BdT</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="css/smoothness/jquery-ui-1.9.0.custom.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="card text-center">
        <%= image_tag("test2.png", :alt => "Héloïse Blaudin de Thé", :id => "img_profile", :class =>"img-circle") %>
        <h1>Héloïse Blaudin de Thé</h1>
        <h2>Rédactrice</h2>
        <p>
          Rien que des <strong>mots</strong>.
        </p>
        <a href="https://www.cjoint.com/doc/19_03/ICvpyIUhyVs_interview-CV.pdf" target="_blank" class="btn-red">Interview exclusive d'Héloïse</a>
    </div>
    <div class="card text-center">
      <h2> Experiences </h2>
      <%= link_to "https://www.happybreak.com/" do %>
                <%= image_tag "happy.png", class: "img-xp" %>
              <% end %>
              <%= link_to "https://www.nosvignes.fr" do %>
                <%= image_tag "nv.png", class: "img-xp" %>
              <% end %>
<%= link_to "http://www.rouge-granit.fr" do %>
                <%= image_tag "rg.png", class: "img-xp" %>
              <% end %>
              <%= link_to "http://www.lyonfemmes.com" do %>
                <%= image_tag "lf.png", class: "img-xp" %>
              <% end %>

    </div>
    <div class="card text-center">
      <ul class="list-inline">
        <li class="text-center">
          <a href="https://www.linkedin.com/in/héloïse-de-thé-73b943106/">
            <i class="fa fa-linkedin"></i> Linkedin
          </a>
        </li>
        <li class="text-center">
          <a href="https://twitter.com/">
           <i class="fa fa-twitter"></i> Twitter
          </a>
        </li>
      </ul>
    </div>

    <div class="card text-center">
      <h2>Un peu plus sur Moua (hihihi)</h2>
        <table>
         <tbody>
          <tr>
            <td>
              <%= link_to "https://fr.wikipedia.org/wiki/Romain_Gary" do %>
                <%= image_tag "rog.jpg", class: "img-movie" %>
              <% end %>
            </td>
            <td>
              <a href="https://fr.wikipedia.org/wiki/Romain_Gary"target="_blank">
              <h3>Mon auteur préféré</h3>
              <p>Romain Gary</p>
            </td>
          </tr>
           <tr>
            <td>
              <%= link_to "http://www.allocine.fr/film/fichefilm_gen_cfilm=179786.html" do %>
                <%= image_tag "lai.jpg", class: "img-movie" %>
              <% end %>
            </td>
            <td>
              <a href="http://www.allocine.fr/film/fichefilm_gen_cfilm=179786.html"target="_blank"><h3>Mon préféré film</h3>
              <p>Les amours imaginaires</p>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to "https://www.babelio.com/livres/Dantzig-Encyclopedie-capricieuse-du-tout-et-du-rien/103559" do %>
                <%= image_tag "ec.jpg", class: "img-movie" %>
              <% end %>
            </td>
            <td>
              <a href="https://www.babelio.com/livres/Dantzig-Encyclopedie-capricieuse-du-tout-et-du-rien/103559"target="_blank">
              <h3>Mon préféré livre</h3>
              <p>Encyclopédie capricieuse du tout et du rien</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card text-center">
      <h2>About this page</h2>
        <p>This page was created in Paris with <span style="font-size:100%;color:red;">&hearts;</span></p>
      <ul class="list-inline">
        <li>
          <a href="#">
            <i class="fa fa-heart"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-share"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-star"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  </body>
</html>

